<head>
  <title>Fantasy Email{% block pagetitle %}{% endblock pagetitle %}</title>
  <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.css" media="screen" />
  <link rel="stylesheet" href="{{STATIC_URL}}ourstyle.css" media="screen" />
  {% block styles %}
  {% endblock %}
</head>

<body>
  <div class="navbar ">
      <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="/">
                <img src="{{STATIC_URL}}img/fantasyemail.gif" alt="RiskyListy" />
                 </a>
		<div class="pull-left"><p style="font-size: 200%; padding-top: 40px; font-style: italic">"Turn any email list into a fantasy sports game"</p>
</p></div>
             <ul class="nav pull-right">
               {%if not user.is_authenticated %}
               <li> <a href="/accounts/login/">Login </a></li>
               <li> <a href="/accounts/register/">Register </a></li>
               {% else %} 
               <li> <a href="/overview">Overview</a></li>
               <li> <a href="/standings">Standings</a></li>
               <li> <a href="/edit">Your Team </a></li>
               <li> <a href="/emailers">All Emailers</a></li>
               <li> <a href="/emails">All Emails</a></li>
               {% endif %}
               <li> <a href="/help/">Rules/Help </a></li>
             <ul>
                   
            </div>
        </div>
  </div>
  <br>
  <div class="container">
    {% block content %}
    {%endblock %}
  </div> {#end container #}

  <div style="text-align: center; margin-top: 20px; color: #999; font-style: italic">
  </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30195395-1']);
  _gaq.push(['_setDomainName', 'boxysean.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  <script src="{{STATIC_URL}}js/jquery.min.js"></script>

  {% block scripts %}
  {% endblock %}

</body>


