{% extends 'base.html' %}

{% block pagetitle %}
 - All Emailers
{% endblock pagetitle %}

{% block content %}
  <h1>List of Emailers</h1>

  <form action="{{ request.get_full_path }}" method="get">
    <label for="name">Time period:</label>
    <select name="period">
      <option value="0" {% if period <= 0 %}selected{% endif %}>Overall</option>
      <option value="1" {% if period == 1 %}selected{% endif %}>Today</option>
      <option value="3" {% if period == 3 %}selected{% endif %}>Last 3 Days</option>
      <option value="7" {% if period == 7 %}selected{% endif %}>This Week</option>
    </select>

    <input type="submit" value="Submit" />
  </form>

  {% if period <= 0 %}
  <h2>Overall Stats</h2>
  {% else %}
  <h2>Stats over the last {{ period }} day{{ period|pluralize }}
  {% endif %}

  <table id="myTable" class="tablesorter">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      {% for category in categories %}
      <th>{{ category.name }}</th>
      {% endfor %}
      <th>Total</th>
      <th>Team</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
   {% for emailer in emailers %}
    <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
      <td>{{ emailer.rank }}</td>
      <td>{{ emailer }}</td>
      {% for stat in emailer.stats_list %}
      <td class="center">{{ stat }}</td>
      {% endfor %}
      <td class="center">{{ emailer.stats_total }}</td>
      <td>{% if emailer.owned_by_icon %}<img src="{{STATIC_URL}}/img/team-logos/small/{{ emailer.owned_by_icon }}" /> {% endif %}{{ emailer.owned_by }}</td>
      {% if emailer.player_set.all|length == 0 %}
      <td><a class="btn btn-mini btn-success" href="/{{game}}/add/{{ emailer.id }}">Recruit this emailer</a></td>
      {% else %}
        {% if emailer.owns_player %}
        <td><a class="btn btn-mini btn-danger" href="/{{game}}/remove/{{ emailer.player_id }}">Cut this emailer</a></td>
        {% else %}
          <td></td>
        {% endif %}
      {% endif %}
      </td>
    </tr>
  {%endfor%}
  </tbody>
  </table>

{%endblock%}

{% block styles %}
  <link rel="stylesheet" href="{{STATIC_URL}}tablesorter/themes/blue/style.css" media="screen" />
{% endblock %}

{% block scripts %}
<script src="{{STATIC_URL}}js/jquery.timeago.js"></script>
<script src="{{STATIC_URL}}tablesorter/jquery.tablesorter.min.js"></script>
<script>
  jQuery(document).ready(function() {
    jQuery("abbr.timeago").timeago();

    $("#myTable").tablesorter({ }); 
  });
</script>
{% endblock %}

