{% extends 'base.html' %}
{%block content %}
  <h1 class="center">Overview</h1>
  <table id="myTable" class="tablesorter bigger" style="width: 640px; margin-left: 200px; margin-top: 40px;">
    <thead>
      <th>Rank</th>
      <th>Team</th>
      <th>Points</th>
    </thead>
    <tbody>
    {% for team in team_list %}
      <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
        <td class="center">{{ forloop.counter }}</td>
        <td><img src="{{ STATIC_URL }}/img/team-logos/big/{{ team.icon }}" /> <a href="/{{game}}/team/{{team.id}}">{{team.name}}</a></td>
        <td class="center">{{team.getTotalPoints|floatformat:1}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <h2>Score over time</h2>

  <div id="chart1">
    <svg></svg>
  </div>

  <h2>Daily total stats</h2>

  <div id="chart2">
    <svg></svg>
  </div>
{%endblock%}

{% block canvas %}
{% if gameComplete %}
<div id="background" class="noselect">
  <canvas></canvas>
  <center><h1>{{ winner.name }} wins!!!!</h1></center>
</div>
{% endif %}
{% endblock canvas %}

{% block styles %}
  <link rel="stylesheet" href="{{STATIC_URL}}tablesorter/themes/blue/style.css" media="screen" />
  <link rel="stylesheet" href="{{STATIC_URL}}/css/nv.d3.css" media="screen" />
{% endblock %}

{% block scripts %}
<script src="{{STATIC_URL}}tablesorter/jquery.tablesorter.min.js"></script>
<script src="{{ STATIC_URL }}/js/d3.min.js"></script>
<script src="{{ STATIC_URL }}/js/nv.d3.min.js"></script>

<script>

var chart;

d3.json("/{{ game }}/overview/graph/", function(error, json) {
  nv.addGraph(function() {
    chart = nv.models.linePlusBarChart()
        .margin({top: 30, right: 60, bottom: 50, left: 70})
        .x(function(d,i) { return i })
        .color(d3.scale.category10().range());

    chart.xAxis.tickFormat(function(d) {
      var dx = json["teams"][0].values[d] && json["teams"][0].values[d].x || 0;
      return dx ? d3.time.format('%x')(new Date(dx)) : '';
    });

//    chart.y1Axis.tickFormat(d3.format(',f'));

 //   chart.y1Axis.tickFormat(function(d) { return d });

    chart.bars.forceY([0]);
    chart.lines.forceY([0]);

    d3.select('#chart1 svg').datum(json["teams"]).transition().duration(500).call(chart);

    nv.utils.windowResize(chart.update);

//    chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

    return chart;
  })
});

d3.json("/{{ game }}/overview/points/", function(error, json) {
  nv.addGraph(function() {
    var chart = nv.models.multiBarChart()
              .color(d3.scale.category10().range())
              .stacked(true);

    chart.xAxis.tickFormat(function(d) {
      return d3.time.format('%x')(new Date(d));
    });

    chart.yAxis.tickFormat(d3.format(',f'));

    var svg = d3.select('#chart2 svg')
                .style("width", 640)
                .style("height", 480)
                .datum(json);

    svg.transition().duration(500).call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
  })
});


</script>

{% endblock %}

{% block victory %}
{% if gameComplete %}
<script src="{{STATIC_URL}}js/confetti.min.js"></script>
{% endif %}
{% endblock %}

