{% extends 'base.html' %}
{%block content %}
  <h1>Overall Points</h1>
  <table id="overallpoints" class="tablesorter">
    <thead>
      <th>Rank</th>
      <th>Team</th>
      {% for category in categories %}
        <th>{{ category.name }}</td>
      {% endfor %}
      <th class="strong">Total</th>
    </thead>
    <tbody>
    {% for team in team_list %}
      <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
        <td>{{ forloop.counter }}</td>
        <td><!--<img src="{{ STATIC_URL }}/img/{{ team.icon }}" /> --><a href="/team/{{team.id}}">{{team.name}}</a></td>
        {% for tscore in team.teampoints_list %}
          <td class="center">{{tscore.points}}</td>
        {% endfor %}
        <td class="strong center"> {{team.getTotalPoints}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <br />
  <br />

   <h1>Overall Stats</h1>
  <table class="table table-striped">
  <table id="overallstats" class="tablesorter">
    <thead>
      <th>Rank</th>
      <th>Team</th>
      {% for category in categories %}
        <th>{{ category.name }}</td>
      {% endfor %}
      <th style="color: white">Total</th>
    </thead>
    <tbody>
    {% for team in team_list %}
      <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
        <td>{{ forloop.counter }}</td>
        <td><!--<img src="{{ STATIC_URL }}/img/{{ team.icon }}" /> --><a href="/team/{{team.id}}">{{team.name}}</a></td>
        {% for tscore in team.teamstats_list %}
        <td class="center">{{tscore.stat}}</td>
        {% endfor%}
        <td></td>
      </tr>
    {%endfor%}
    </tbody>
  </table>

  <br />
  <br />

  <h1>All Emailers</h1>

  <table id="emailers" class="tablesorter">
  <thead>
    <tr>
      <th>Name</th>
      {% for category in categories %}
      <th>{{ category.name }}</th>
      {% endfor %}
      <th>Total</th>
      <th>Team</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
   {% for emailer in emailers %}
    <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
      <td>{{emailer}}</td>
      {% for stat in emailer.stats_list %}
      <td class="center">{{ stat.stat }}</td>
      {% endfor %}
      <td class="center">{{ emailer.stats_total }}</td>
      <td><!--{% if emailer.owned_by_icon %}<img src="{{STATIC_URL}}/img/{{ emailer.owned_by_icon }}" /> {% endif %}-->{{ emailer.owned_by }}</td>
      {% if emailer.player_set.all|length == 0 %}
        <td><a class="btn btn-mini btn-success" href="/add/{{ emailer.id }}">Recruit this emailer</a></td>
      {% else %}
        {% if emailer.owns_player %}
          <td><a class="btn btn-mini btn-danger" href="/remove/{{ emailer.id }}">Cut this emailer</a></td>
        {% else %}
          <td></td>
        {% endif %}
      {% endif %}
      </td>
    </tr>
  {%endfor%}
  </tbody>
  </table>

{%endblock%}

{% block styles %}
  <link rel="stylesheet" href="{{STATIC_URL}}tablesorter/themes/blue/style.css" media="screen" />
{% endblock %}

{% block scripts %}
<script src="{{STATIC_URL}}tablesorter/jquery.tablesorter.min.js"></script>
<script>
  jQuery(document).ready(function() {
    $("#overallpoints").tablesorter();
    $("#emailers").tablesorter({
      headers: {
        7: { sorter: false }
      }
    });
     $("#overallstats").tablesorter({
      headers: {
        6: { sorter: false }
      }
    });
  });
</script>
{% endblock %}

