{% extends 'base.html' %}
{%block content %}
  <h1>Overview</h1>
  <table class="table table-striped">
    <thead>
      <th>Rank</th>
      <th>Team</th>
      <th>Points</th>
      <th>Points Back</th>
    </thead>
  {% for team in team_list %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="/team/{{team.id}}">{{team.name}}</a></td>
    <td>{{team.getTotalPoints}}</td>
    <td>{{team.getPointsBack}}</td>
  </tr>
  {%endfor%}
  </table>

  <h1>Overall Points</h1>
  <table class="table table-striped">
    <thead>
      <th>Rank</th>
      <th>Team</th>
      {% for category in categories %}
        <th>{{ category.name }}</td>
      {% endfor %}
      <th class="strong">Total</th>
    </thead>
  {% for team in team_list %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="/team/{{team.id}}">{{team.name}}</a></td>
    {% for tscore in team.teampoints_list %}
      <td> {{tscore.points}}</td>
    {% endfor%}
    <td class="strong"> {{team.getTotalPoints}}</td>
  </tr>
  {%endfor%}
  </table>

  <h1>Overall Stats</h1>
  <table class="table table-striped">
    <thead>
      <th>Rank</th>
      <th>Team</th>
      {% for category in categories %}
        <th>{{ category.name }}</td>
      {% endfor %}
    </thead>
  {% for team in team_list %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="/team/{{team.id}}">{{team.name}}</a></td>
    {% for tscore in team.teamstats_list %}
      <td> {{tscore.stat}}</td>
    {% endfor%}
  </tr>
  {%endfor%}
  </table>

{%endblock%}
