{% extends 'base.html' %}

{% block pagetitle %}
 - {{ team.name }}
{% endblock pagetitle %}

{% block content %}

  <h1><img src="{{ STATIC_URL }}/img/team-logos/big/{{ team.icon }}" /> {{ team.name }}</h1>
  <br>
  <h3>Emailers On This Team </h3>

  <table id="myTable" class="tablesorter">
  <thead>
    <tr>
      <th>Name</th>
    {% for category in categories %}
      <th>{{ category.name }}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for emailer in teamemailers %}
    <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
      <td>{{ emailer.name }}</td>
      {% for stat in emailer.stats_list %}
      <td class="center">{{ stat.stat }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    <tr>
      <td class="strong">Total</td>
      {% for stat in teamstats %}
      <td class="center strong">{{ stat.stat }}</td>
      {% endfor %}
    </tr>
  </tbody>
  </table>

  <div id="chart1">
    <h3>Team contributors</h3>
    <svg></svg>
  </div>

{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{STATIC_URL}}tablesorter/themes/blue/style.css" media="screen" />
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}/js/d3.min.js"></script>
<script src="{{ STATIC_URL }}/js/nv.d3.min.js"></script>

<script>
  d3.json("/{{ game }}/team/{{ id }}/graph/", function(error, json) {
    nv.addGraph(function() {
      var chart = nv.models.multiBarChart()
                .color(d3.scale.category10().range())
                .stacked(true);

      chart.xAxis.tickFormat(function(d) {
        return d3.time.format('%x')(new Date(d));
      });

      chart.yAxis.tickFormat(d3.format(',f'));

      var svg = d3.select('#chart1 svg')
                  .style("width", 640)
                  .style("height", 480)
                  .datum(json);

      svg.transition().duration(500).call(chart);

      nv.utils.windowResize(chart.update);

      return chart;
    })
  });



</script>
<script src="{{STATIC_URL}}tablesorter/jquery.tablesorter.min.js"></script>
<script>
  jQuery(document).ready(function() {
    $("#myTable").tablesorter({
      headers: {
        3: { sorter: false }
      }
    }); 
  });
</script>
{% endblock %}

