{% extends 'base.html' %}

{% block pagetitle %}
 - {{ team.name }}
{% endblock pagetitle %}

{% block content %}

  <h1><img src="{{ STATIC_URL }}/img/team-logos/big/{{ team.icon }}" /> {{ team.name }}</h1>
  <br>
  <h3>Emailers On This Team </h3>

  <table id="myTable" class="tablesorter">
  <thead>
    <tr>
      <th>Name</th>
    {% for category in categories %}
      <th>{{ category.name }}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for emailer in teamemailers %}
    <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
      <td>{{ emailer.name }}</td>
      {% for stat in emailer.stats_list %}
      <td class="center">{{ stat.stat }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
    <tr>
      <td class="strong">Total</td>
      {% for stat in teamstats %}
      <td class="center strong">{{ stat.stat }}</td>
      {% endfor %}
    </tr>
  </table>

{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{STATIC_URL}}tablesorter/themes/blue/style.css" media="screen" />
{% endblock %}

{% block scripts %}
<script src="{{STATIC_URL}}tablesorter/jquery.tablesorter.min.js"></script>
<script>
  jQuery(document).ready(function() {
    $("#myTable").tablesorter({
      headers: {
        3: { sorter: false }
      }
    }); 
  });
</script>
{% endblock %}

